<ion-content [fullscreen]="true">
  <div id="container">
    <ion-grid>
      <ion-row class="topStrip">
        <ion-col id="name" size-sm="12" size-md="12" size-lg="12">
          Movie Guide for Galway
        </ion-col>
      </ion-row>

      <ion-row>

      </ion-row>

      <ion-row>
        <ion-col size-sm="12" size-md="5" size-lg="5">
          <div id="topMovies">IMDb Top 3 Movies</div>
          <br>
          <swiper-container realIndex="0" [autoplay]="true" [loop]="true" [slidesPerView]="1">

            <swiper-slide>
              <div *ngIf="ShawsankPoster">
                <img id="posters" [src]="ShawsankPoster" alt="Movie Poster">
              </div>
            </swiper-slide>
            <swiper-slide>
              <div *ngIf="GodfatherPoster">
                <img id="posters" [src]="GodfatherPoster" alt="Movie Poster">
              </div>
            </swiper-slide>
            <swiper-slide>
              <div *ngIf="DarkKnightPoster">
                <img id="posters" [src]="DarkKnightPoster" alt="Movie Poster">
              </div>
            </swiper-slide>
          </swiper-container>
        </ion-col>

        <ion-col id="topMovies" size-sm="12" size-md="7" size-lg="7">
          <ion-grid>
            <ion-row>
              <ion-col size="12">List of movies with letter G</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-button class="buttonMovies" shape="round" [routerLink]="['/girl']">Girl</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button class="buttonMovies" shape="round" [routerLink]="['/game']">Game</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-button class="buttonMovies" shape="round" [routerLink]="['/ghost']">Ghost</ion-button>
              </ion-col>
              <ion-col size="6">
                <ion-button class="buttonMovies" shape="round" [routerLink]="['/galaxy']">Galaxy</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-button class="buttonMovies" shape="round" (click)="getRandomMovie()">Get random movie</ion-button>
              </ion-col>
              <ion-col size="6">
                <div id="randomMovie">{{ RandomMovieTitle }}</div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-button class="buttonMovies" shape="round" (click)="getGPS()">Check nearest cinema in
                  Gawlay</ion-button>
              </ion-col>
              <ion-col size="12">
                <ion-title>
                  Last nearest cinema is {{ nearestCinema }} <!--{{lat}} {{long}} -->
                </ion-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>